USE [khodl]
GO
ALTER TABLE [dbo].[Dim_KhachHang]
ALTER COLUMN SDT NVARCHAR(50)  -- hoặc độ dài phù hợp với yêu cầu của bạn

/****** Object:  Table [dbo].[Dim_ChiNhanh]    Script Date: 27/09/2024 10:50:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_ChiNhanh](
	[MaChiNhanh] [char](10) NOT NULL,
	[ChiNhanh] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Dim_KhuVuc] PRIMARY KEY CLUSTERED 
(
	[MaChiNhanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_KhachHang]    Script Date: 27/09/2024 10:50:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_KhachHang](
	[MaKhachHang] [char](10) NOT NULL,
	[TenKhachHang] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[SDT] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Dim_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_LoaiHang]    Script Date: 27/09/2024 10:50:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_LoaiHang](
	[MaLoaiHang] [char](10) NOT NULL,
	[TenLoaiHang] [nvarchar](50) NOT NULL,
	[MoTa] [nvarchar](100) NULL,
 CONSTRAINT [PK_Dim_LoaiHang] PRIMARY KEY CLUSTERED 
(
	[MaLoaiHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_NCC]    Script Date: 27/09/2024 10:50:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_NCC](
	[MaNCC] [char](10) NOT NULL,
	[TenNCC] [nvarchar](50) NOT NULL,
	[TenNguoiLienLac] [nvarchar](50) NOT NULL,
	[ChucDanh] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[SDT] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Dim_NCC] PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Ngay]    Script Date: 27/09/2024 10:50:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Ngay](
	[MaNgay] [date] NOT NULL,
	[NgayTrongTuan] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Dim_Ngay] PRIMARY KEY CLUSTERED 
(
	[MaNgay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_NhanVien]    Script Date: 27/09/2024 10:50:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_NhanVien](
	[MaNhanVien] [char](10) NOT NULL,
	[TenNhanVien] [nvarchar](50) NOT NULL,
	[ChucVu] [nvarchar](50) NOT NULL,
	[GioiTinh] [nvarchar](10) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[NgayBatDauLam] [date] NOT NULL,
	[DiaChi] [nvarchar](10) NOT NULL,
	[SDT] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Dim_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_SanPham]    Script Date: 27/09/2024 10:50:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_SanPham](
	[MaSanPham] [char](10) NOT NULL,
	[TenSanPham] [nvarchar](50) NOT NULL,
	[MaNCC] [char](10) NOT NULL,
	[MaLoaiHang] [char](10) NOT NULL,
	[DonViTinh] [char](50) NOT NULL,
	[DonGia] [float] NOT NULL,
	[TonKho] [int] NOT NULL,
	[TrangThai] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Dim_SanPham] PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fact_ChiTietBan]    Script Date: 27/09/2024 10:50:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fact_ChiTietBan](
	[MaSanPham] [char](10) NOT NULL,
	[DonGia] [float] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[ChietKhau] [float] NOT NULL,
	[MaKhachHang] [char](10) NOT NULL,
	[MaNhanVien] [char](10) NOT NULL,
	[NgayBan] [date] NOT NULL,
	[MaKhuVuc] [char](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fact_ChiTietNhap]    Script Date: 27/09/2024 10:50:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fact_ChiTietNhap](
	[MaNhanVien] [char](10) NOT NULL,
	[MaSanPham] [char](10) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [float] NOT NULL,
	[NgayNhap] [date] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OLE DB Destination]    Script Date: 27/09/2024 10:50:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OLE DB Destination](
	[MaChiNhanh] [varchar](50) NULL,
	[ChiNhanh] [varchar](50) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Dim_SanPham]  WITH CHECK ADD  CONSTRAINT [FK_Dim_SanPham_Dim_LoaiHang] FOREIGN KEY([MaLoaiHang])
REFERENCES [dbo].[Dim_LoaiHang] ([MaLoaiHang])
GO
ALTER TABLE [dbo].[Dim_SanPham] CHECK CONSTRAINT [FK_Dim_SanPham_Dim_LoaiHang]
GO
ALTER TABLE [dbo].[Dim_SanPham]  WITH CHECK ADD  CONSTRAINT [FK_Dim_SanPham_Dim_NCC] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[Dim_NCC] ([MaNCC])
GO
ALTER TABLE [dbo].[Dim_SanPham] CHECK CONSTRAINT [FK_Dim_SanPham_Dim_NCC]
GO
ALTER TABLE [dbo].[Fact_ChiTietBan]  WITH CHECK ADD  CONSTRAINT [FK_Fact_ChiTietBan_Dim_KhuVuc] FOREIGN KEY([MaKhuVuc])
REFERENCES [dbo].[Dim_ChiNhanh] ([MaChiNhanh])
GO
ALTER TABLE [dbo].[Fact_ChiTietBan] CHECK CONSTRAINT [FK_Fact_ChiTietBan_Dim_KhuVuc]
GO
ALTER TABLE [dbo].[Fact_ChiTietBan]  WITH CHECK ADD  CONSTRAINT [FK_Fact_ChiTietBan_Dim_Ngay] FOREIGN KEY([NgayBan])
REFERENCES [dbo].[Dim_Ngay] ([MaNgay])
GO
ALTER TABLE [dbo].[Fact_ChiTietBan] CHECK CONSTRAINT [FK_Fact_ChiTietBan_Dim_Ngay]
GO
ALTER TABLE [dbo].[Fact_ChiTietBan]  WITH CHECK ADD  CONSTRAINT [FK_Fact_HoaDonBan_Dim_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[Dim_KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[Fact_ChiTietBan] CHECK CONSTRAINT [FK_Fact_HoaDonBan_Dim_KhachHang]
GO
ALTER TABLE [dbo].[Fact_ChiTietBan]  WITH CHECK ADD  CONSTRAINT [FK_Fact_HoaDonBan_Dim_NhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[Dim_NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[Fact_ChiTietBan] CHECK CONSTRAINT [FK_Fact_HoaDonBan_Dim_NhanVien]
GO
ALTER TABLE [dbo].[Fact_ChiTietBan]  WITH CHECK ADD  CONSTRAINT [FK_Fact_HoaDonBan_Dim_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[Dim_SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[Fact_ChiTietBan] CHECK CONSTRAINT [FK_Fact_HoaDonBan_Dim_SanPham]
GO
ALTER TABLE [dbo].[Fact_ChiTietNhap]  WITH CHECK ADD  CONSTRAINT [FK_Fact_ChiTietNhap_Dim_Ngay] FOREIGN KEY([NgayNhap])
REFERENCES [dbo].[Dim_Ngay] ([MaNgay])
GO
ALTER TABLE [dbo].[Fact_ChiTietNhap] CHECK CONSTRAINT [FK_Fact_ChiTietNhap_Dim_Ngay]
GO
ALTER TABLE [dbo].[Fact_ChiTietNhap]  WITH CHECK ADD  CONSTRAINT [FK_Fact_ChiTietNhap_Dim_NhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[Dim_NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[Fact_ChiTietNhap] CHECK CONSTRAINT [FK_Fact_ChiTietNhap_Dim_NhanVien]
GO
ALTER TABLE [dbo].[Fact_ChiTietNhap]  WITH CHECK ADD  CONSTRAINT [FK_Fact_ChiTietNhap_Dim_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[Dim_SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[Fact_ChiTietNhap] CHECK CONSTRAINT [FK_Fact_ChiTietNhap_Dim_SanPham]
GO
